---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import PresentationSection from "../components/PresentationSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Bienvenue sur le site du Club débat !">
  <HeroSection />
  <PresentationSection
    id="present"
    title="Présentation"
    desc="  Chaque semaine, nous nous retrouvons avec enthousiasme pour défendre nos  points de vue, encourager le dialogue et approfondir notre compréhension  mutuelle. Notre club est bien plus qu'un simple lieu de discussion ; c'est  un espace où les voix de chacun sont écoutées et valorisées, où  l'apprentissage se fait dans la diversité et la camaraderie."
  />
  <PresentationSection
    id="register"
    title="Pour vous inscrire"
        desc="Rejoignez notre club de débat lycéen et transformez vos idées en arguments percutants, vos doutes en convictions, et vos discussions en véritables aventures intellectuelles ! 🎉 Incriver vous <a href="https://forms.gle/hxi5E1E8KZSfSYYf7">ici</a>, ou contacté nous sur insta : <a href="https://www.instagram.com/club_debat_lll?igsh=MXJ1cDQzM244YnBqYQ%3D%3D&utm_source=qr">club_debat_lll</a>
  />
  <PresentationSection id="nums" title="Les chiffres" desc="Nb inscrits: 8" />
  <PresentationSection
    id="tips"
    title="Quelques tips"
    desc="Manger bien avant de venir, utiliser son cerveau ça creuse 🙃"
  />
  <Footer />
</Layout>

<style lang="scss">
  section {
    min-height: 100vh;
  }
</style>
